.app {
    display: block;
    background: #FFFFFF;
    border: 1px solid #979797;
    width: 62%;
    margin: 0 auto;
}

.contactItem {
    display: inline-flex;
    margin-left: 5%;
    margin-bottom: 20px;
    background: #E8EAF6;
    width: 90%;
}

.contactForm {
    width: 90%;
    display: block;
    border: 1px solid #979797;
    margin: 10px auto;
}

.contactForm input {
    margin: 10px;
}

.contactForm button {
    background: #75A9F9;
    border: 0;
    padding: 10px;
    margin: 5px 10%;
    font-family: Helvetica;
    font-size: 14px;
    color: #000000;
}

.contactImage {
    height: 80px;
    padding: 10px 60px;
    text-align: left;
}

.contactLabel {
    display: block;
    margin-top: 10px;
    font-family: Helvetica;
    font-size: 14px;
    color: #4A4A4A;
    text-align: left;
}
